body{
    min-height:100vh;
}
section{
    background-color: var(--blanco);
}
.section1{
    position: relative;
    display: grid;
    grid-template-rows: auto auto;
    padding-top: 50px;
    overflow: visible;
    background-color: var(--beige);
}
.section1 {
    margin-bottom: 50px;
}
.section1 > h1{
    padding-left: 20px;
    font-family: 'Inter', sans-serif; 
    font-size: 50px;
    font-weight: bold;
    z-index: 1000;
}
.redes {
    position: absolute;
    z-index: 2000;
    height: 300px;
    width: 60px;
    left: 20px;
    top: 150px;
}
.redes > a {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color:var(--naranja);
    border-radius: 50%;
    transition: 0.3s;
    z-index: 1000;
}
.redes > a:hover {
    cursor: pointer;
    background-color: var(--azul);
}
.redes > a > img {
    height: 50%;
    width: 50%;
}
.perfil{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    height: 480px;
}
.perfilImg {
    height: 100%;
    position: relative;
    width: 300px;
    z-index: 1000;
    display: flex;
    justify-content: center;

}
.perfilImg > img {
    position: absolute;
    bottom: 0;
    height: 100%;
}
.circle {
    position: absolute;
    height: 280px;
    width: 280px;
    border-radius: 50%;
    background-color: var(--azul);
    top: 40px;
    right: 15%;
}
#acercaDeMi{
    padding: 80px 20px 0px 20px;
    background-color: white;
}
#acercaDeMi > h2 {
    font-size: 2.5rem;
    color: var(--azul);
    margin-bottom: 20px;
}
#acercaDeMi > p {
    font-size: 1.3rem;
    color: var(--gris);
    height: 300px;
    overflow: auto;
}

@media (min-width: 768px){
    #acercaDeMi {
        padding: 0px 100px;
        padding-top: 100px;
    }
    .redes{
        left: 15%;
    }
    .section1 > h1 {
        width: 300px;
        position: absolute;
        top: 5%;
        left: 5%;
    }
    .section1{
        position: relative;
        grid-template-rows: 600px 550px;
        padding-top: 50px;
        overflow: visible;
        background-color: var(--beige);
    }
    .perfil {
        height: 100%;
    }
    .circle {
        position: absolute;
        height: 400px;
        width: 400px;
        border-radius: 50%;
        background-color: var(--azul);
        top: 40px;
        right: 25%;
    }
}

@media (min-width: 1113px) and (min-width: 768px) {
    .section1 > h1 {
        width: 300px;
        position: absolute;
        top: 20%;
        left: 15%;
    }
    .redes {
        height: 80px;
        width: 300px;
        display: flex;
        top: 32%;
        left: 15%;
        flex-direction: row;
        justify-content: space-between;
    }
    .redes > div{
        margin-top: 0px;
        height: 100%;
        width: 80px;
    }
    
}